#
# Environment variables for running locally with Docker Compose
#
# This is a sample file. All environment variables are commented out
# and pre-filled with the default values.
#
NODE_ENV=development
HTTP_PORT=3000

# api's db-connection creds
MIDAS_DATABASE_HOST=db
MIDAS_DATABASE_PORT=5432
MIDAS_DATABASE_USER=midas
MIDAS_DATABASE_PASS=test
MIDAS_DATABASE_NAME=midas

###########################################################################
###                                                                     ###
###                   POSTGRESQL IMAGE CONFIG                           ###
###                 Must match with the app's ones                      ###
###                                                                     ###
###########################################################################

POSTGRES_USER=midas
POSTGRES_PASSWORD=test
